<!doctype html>
<html lang="en">
<head>
    {include file="common/meta" /}
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/pay.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background: #345492;">
    <div class="container header_top">
        <div class="row">
            <h2 >欢迎登陆哇卡支付系统</h2>
            <a href="{:url('index/logout')}">
                <input type="button" value="退出登录" class="pull-right btn btn-primary btn-lg" style="margin-top: 22px; background: #169bd5;">
            </a>
        </div>
    </div>
</nav>
<div class="info_title visible-xs-block">
    <h2>1.填写商户信息</h2>
</div>
<div class="container">
    <div class="bus-section">
        <ul class="nav_menu nav_menu2 hidden-xs">
            <li class="mod-sub-list1  list-active ">1.填写企业信息</li>
            <li class="mod-sub-list2">2.补充银行卡信息</li>
            <li class="mod-sub-list3">3.上传证件信息</li>
            <li class="mod-sub-list4">4.提交审批</li>
            <li class="mod-sub-list5">5.开通支付完成</li>
        </ul>
        <div class="form_container">
            <form id="form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
                <input type="hidden" name="type"  value="2" />
                <div class="busInfo">
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">商户全称:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" name="merFullName" class="form-control"  value="{$info.merFullName}" data-rule="required;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">商户简称:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" name="merShortName" class="form-control"  value="{$info.merShortName}" data-rule="required;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">营业执照号:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" name="merCertNo" class="form-control"  value="{$info.merCertNo}" data-rule="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">法人姓名:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" name="legalName" class="form-control"  value="{$info.legalName}" data-rule="required;chinese" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">法人身份证号:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" name="legalIdCard" class="form-control"  value="{$info.legalIdCard}" data-rule="required;IDcard" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">法人手机号:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" name="merLegalPhone" class="form-control"  value="{$info.merLegalPhone}" data-rule="required;mobile" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">法人邮箱:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" name="merLegalEmail" class="form-control"  value="{$info.merLegalEmail}" data-rule="required;email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">商户分类:</label>
                        <div class="col-xs-8 col-sm-6">
                            <select name="merLevel1No" class="form-control busAddress busType ml0" >
                                <option  value=""> 请选择 </option>
                                {volist name="store" id="vo"}
                                <option data-id={$vo.id} value={$vo.code} {if $info.merLevel1No == $vo.code} selected{/if}>{$vo.name}</option>
                                {/volist}
                            </select>
                            <select name="merLevel2No" class="form-control busAddress busType" >
                                <option value=""> 请选择 </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">商户地址:</label>
                        <div class="col-xs-8 col-sm-6">
                            <select name="merProvince" class="form-control busAddress ml0">
                                <option value=""> 请选择 </option>
                                {volist name="province" id="vo"}
                                    <option data-id={$vo.id} value={$vo.code} {if $info.merProvince == $vo.code} selected{/if}>{$vo.name}</option>
                                {/volist}
                            </select>
                            <select name="merCity" id="city" class="form-control busAddress">
                                <option value=""> 请选择 </option>
                            </select>
                            <select name="merDistrict" id="code" class="form-control busAddress" >
                                <option value=""> 请选择 </option>
                            </select>
                            <input type="text" name="merAddress" class="form-control"  id="address" data-rule="required;" value="{$info.merAddress}"  style="margin-top: 10px; overflow: hidden;" />
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <input type="button" id="next" value="下一步" class="btn btn-success btn-sm">
                    </div>
                </div>
                <div class="bankCard hidden_tab">
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">银行卡账户:</label>
                        <div class="col-xs-8 col-sm-6">
                            <input type="text" name="cardNo" class="form-control"  value="{$info.cardNo}" data-rule="required;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">开户总行:</label>
                        <div class="col-xs-8 col-sm-6">
                            <select name="headBankCode" class="form-control" >
                                <option value=""> 请选择 </option>
                                {volist name="bank" id="vo"}
                                    <option value={$vo.code} {if $info.headBankCode == $vo.code} selected{/if}>{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">开户地址:</label>
                        <div class="col-xs-8 col-sm-6">
                            <select name="bankProvince" class="form-control busAddress bankAddress ml0" >
                                <option value=""> 请选择 </option>
                                {volist name="province" id="vo"}
                                    <option data-id={$vo.id} value={$vo.code} {if $info.bankProvince == $vo.code} selected{/if}>{$vo.name}</option>
                                {/volist}
                            </select>
                            <select name="bankCity" class="form-control busAddress">
                                <option value=""> 请选择 </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">开户支行:</label>
                        <div class="col-xs-8 col-sm-6">
                            <select name="bankCode" class="form-control bankCode">
                                <option value=""> 请选择 </option>
                            </select>
                            <button type="button" id="checkBankCode" class="btn btn-danger" style="float: left; margin-left: 10px;">查询</button>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <input type="button" id="prev" value="上一步" class="btn btn-success btn-sm">
                        <input type="button" id="next2" value="下一步" class="btn btn-success btn-sm" style="margin-left: 30px;">
                    </div>
                </div>
                <div class="cardInfo hidden_tab">
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">上传法人身份证:</label>
                        <div class="col-xs-8 col-sm-8">
                            <div class="input-group">
                                <input id="c-avatar4" readonly data-rule="" class="form-control" size="50" name="IDCARD_FRONT" type="text" value="{$info.IDCARD_FRONT}" placeholder="法人身份证正面">
                                <div class="input-group-addon no-border no-padding">
                                    <span><button type="button" id="plupload-avatar4" class="btn btn-danger plupload" data-input-id="c-avatar4" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar4"><i class="fa fa-upload"></i> 上传</button></span>
                                </div>
                                <span class="msg-box n-right" for="c-avatar"></span>
                            </div>
                            <ul class="row list-inline plupload-preview" id="p-avatar4"></ul>
                            <div class="input-group" style="margin-top: 15px;">
                                <input id="c-avatar5" data-rule="" class="form-control" size="50" name="IDCARD_BACK" type="text" value="{$info.IDCARD_BACK}" placeholder="法人身份证反面" readonly>
                                <div class="input-group-addon no-border no-padding">
                                    <span><button type="button" id="plupload-avatar5" class="btn btn-danger plupload" data-input-id="c-avatar5" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar5"><i class="fa fa-upload"></i> 上传</button></span>
                                </div>
                                <span class="msg-box n-right" for="c-avatar"></span>
                            </div>
                            <ul class="row list-inline plupload-preview" id="p-avatar5"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">银行卡照片:</label>
                        <div class="col-xs-8 col-sm-8">
                            <div class="input-group">
                                <input id="c-avatar2" readonly data-rule="" class="form-control" size="50" name="SETTLE_BANKCARD" type="text" value="{$info.SETTLE_BANKCARD}"
                                       placeholder="请上传银行卡正面照片">
                                <div class="input-group-addon no-border no-padding">
                                    <span><button type="button" id="plupload-avatar2" class="btn btn-danger plupload" data-input-id="c-avatar2" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar2"><i class="fa fa-upload"></i> 上传</button></span>
                                </div>
                                <span class="msg-box n-right" for="c-avatar"></span>
                            </div>
                            <ul class="row list-inline plupload-preview" id="p-avatar2"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">营业执照:</label>
                        <div class="col-xs-8 col-sm-8">
                            <div class="input-group">
                                <input id="c-avatar3" readonly data-rule="" class="form-control" size="50" name="CORP_CODE" type="text" value="{$info.CORP_CODE}"
                                       placeholder="营业执照">
                                <div class="input-group-addon no-border no-padding">
                                    <span><button type="button" id="plupload-avatar3" class="btn btn-danger plupload" data-input-id="c-avatar3" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar3"><i class="fa fa-upload"></i> 上传</button></span>
                                </div>
                                <span class="msg-box n-right" for="c-avatar"></span>
                            </div>
                            <ul class="row list-inline plupload-preview" id="p-avatar3"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">经营场所门头照:</label>
                        <div class="col-xs-8 col-sm-8">
                            <div class="input-group">
                                <input id="c-avatar8" readonly data-rule="" class="form-control" size="50" name="BUSINESS_PLACE" type="text" value="{$info.BUSINESS_PLACE}"
                                       placeholder="经营场所门头照">
                                <div class="input-group-addon no-border no-padding">
                                    <span><button type="button" id="plupload-avatar8" class="btn btn-danger plupload" data-input-id="c-avatar8" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar8"><i class="fa fa-upload"></i> 上传</button></span>
                                </div>
                                <span class="msg-box n-right" for="c-avatar"></span>
                            </div>
                            <ul class="row list-inline plupload-preview" id="p-avatar8"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 col-sm-3">收银台场景照:</label>
                        <div class="col-xs-8 col-sm-8">
                            <div class="input-group">
                                <input id="c-avatar9" readonly data-rule="" class="form-control" size="50" name="CASHIER_SCENE" type="text" value="{$info.CASHIER_SCENE}"
                                       placeholder="收银台场景照">
                                <div class="input-group-addon no-border no-padding">
                                    <span><button type="button" id="plupload-avatar9" class="btn btn-danger plupload" data-input-id="c-avatar9" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar9"><i class="fa fa-upload"></i> 上传</button></span>
                                </div>
                                <span class="msg-box n-right" for="c-avatar"></span>
                            </div>
                            <ul class="row list-inline plupload-preview" id="p-avatar9"></ul>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <input type="button" id="prev2" value="上一步" class="btn btn-success btn-sm">
                        <input type="submit" id="subBankInfo" value="提交" class="btn btn-success btn-sm" style="margin-left: 30px;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/script" /}
</body>
</html>